:root {
    --color-principal:#4f1455;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: bahnschrift;
}
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

/* background animation */


.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-120deg, #e71d73 50%, #572483 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1000;

}
.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}
.bg3 {
    animation-duration:5s;
}

@keyframes slide {
    0% {
    transform:translateX(-25%);
    }
    100% {
    transform:translateX(25%);
    }
}


/* logo */

#logo_header{
    width: 100px;
    height: 100px;
}

/* logo animation */

#logo_header{
    animation: glitch 1s linear infinite;
    
}

@keyframes glitch{
    2%, 64%{
        transform: translate(2px, 0) skew(0deg);
    }
    4%, 60%{
        transform: translate(-2px, 0) skew(0deg);
    }
    62%{
        transform: translate(0,0) skew(5deg);
    }
}

#logo_header:before,
#logo_header:after{
    content: attr(title);
    position: absolute;
    left: 0;
}

#logo_header:after{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100%, 100% 33%, 0 33%);
    -webkit-animation-phat: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
    2%,64%{
        transform: translate(2px, -2px);
    }
    4%,60%{
        transform: translate(-2px,2px);
} 
    62%{
        transform: translate(13px, -1px) skew(-13deg);
    }
}

#logo_header:after{
    animation: glitchBottom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-animation-path:  polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBottom{
    2%,64%{
        transform: translate(-2px, 0);
}
    4%,60%{
        transform: translate(-2px, 0);
    }
    62%{
        transform: translate(-22px, 5px) skew(21deg);
    }
}



/* header */

header #header_container {
    align-items: center;
    margin: auto;
    align-content: center;
    position: fixed;
    width: 100%;
    height: 160px;
    left: 0;
    top: 0;
    z-index: 99999;
    background-color: #ffffff;
    display: grid;
  }

header #header_container .img_container {
    display: flex;
    justify-self: center;
}

header #header_container .img_container img {
    width: 140px;
    height: 140px;
    animation: glitch 1s linear infinite;
}

header #header_container .img_container img:before, header #header_container .img_container img:after {
    content: attr(title);
    position: absolute;
    left: 0;
}
header #header_container .img_container img:before {
    animation: glitchTop 1s linear infinite;
    -webkit-clip-path: polygon(0 0, 100%, 100% 33%, 0 33%);
            clip-path: polygon(0 0, 100%, 100% 33%, 0 33%);
    -webkit-animation-phat: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}
header #header_container .img_container img:after {
    animation: glitchBottom 1.5s linear infinite;
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
            clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-animation-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

header #header_container_burguer {
    display: none;
  }

/* nave animation */
.naves {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -999;
  }
  .naves-cont {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  .naves .nave {
    position: absolute;
    height: 100%;
    width: 50%;
  }
  .naves .nave img {
    width: 70px;
  }

  .naves .nave-1 {
    left: 0;
    animation: moverNave 2s ease-in-out infinite;
  }
  .naves .nave-2 {
    top: 100%;
    right: 0;
    animation: moverNave2 2s ease-in-out infinite;
  }
  .naves .nave-2 img {
    position: inherit;
    right: 0;
  }

@keyframes moverNave {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes moverNave2 {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  h1{
    margin-top: 240px;
    color: #ffffff;
    filter: drop-shadow(0px 0px 5px #1d1d1b);
  }
  .noticias-container {
    width: 80%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 50px;
  }
  .noticias-container .imagen-container img{
    max-width: 300px;
    min-width: 250px;
    filter: drop-shadow(0px 0px 20px #1d1d1b);
  }

  .volver{
    width: 70px;
    height: 70px;
    position: fixed;
    left: 0;
    top: 0;
    transform: translate(0%, 240%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .volver img {
    width: 50px;
  }
  
  .volver:hover{
    filter: drop-shadow(0px 0px 5px black);
    opacity: 0.5;
  }

/* medias query desde aca */


@media screen and (max-width: 1000px){
    
    header #header_container {
        display: none;
      }

      header #header_container_burguer {
        display: flex;
        width: 100%;
        height: 100px;
        background-color: #ffffff;
        position: fixed;
        align-items: center;
        justify-content: center;
        z-index: 10000;
        top: 0;
        left: 0;
    }
      header #header_container_burguer .img_container {
        display: flex;
        justify-self: center;
      }
      header #header_container_burguer .img_container img {
        width: 95px;
        height: 95px;
        animation: glitch 1s linear infinite;
      }
      header #header_container_burguer .img_container img:before, header #header_container_burguer .img_container img:after {
        content: attr(title);
        position: absolute;
        left: 0;
      }
      header #header_container_burguer .img_container img:before {
        animation: glitchTop 1s linear infinite;
        -webkit-clip-path: polygon(0 0, 100%, 100% 33%, 0 33%);
                clip-path: polygon(0 0, 100%, 100% 33%, 0 33%);
        -webkit-animation-phat: polygon(0 0, 100% 0, 100% 33%, 0 33%);
      }
      header #header_container_burguer .img_container img:after {
        animation: glitchBottom 1.5s linear infinite;
        -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
                clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
        -webkit-animation-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
      }
      header #header_container_burguer .menu {
        width: 50px;
        height: 40px;
        position: absolute;
        right: 10px;
      }
      header #header_container_burguer .menu .spans {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        width: 50px;
        height: 40px;
      }
      header #header_container_burguer .menu .spans span {
        width: 50px;
        height: 8px;
        background: linear-gradient(-90deg, rgb(231, 29, 115) 0%, rgb(87, 36, 131) 100%);
        border-radius: 10px;
      }
      header #header_container_burguer input {
        display: none;
      }
      header #header_container_burguer input:checked + .button_container {
        transform: translateX(100%);
        transition: transform 1s ease-in-out;
      }
      header #header_container_burguer .button_container {
        width: 100%;
        height: auto;
        position: absolute;
        top: 100px;
        left: -100%;
        display: flex;
        flex-direction: column;
        transition: transform 1s ease-in-out;
    }
    header #header_container_burguer .button_container .button_slider {
        width: 100%;
        height: 40px;
        background: linear-gradient(-90deg, rgb(231, 29, 115) 0%, rgb(87, 36, 131) 70%);
        text-align: center;
        justify-content: center;
        transition: box-shadow 0.4s;
}
    header #header_container_burguer .button_container .button_slider:hover, header #header_container_burguer .button_container .button_slider:focus {
        box-shadow: inset 0 0 0 1.4em #e71d73;
    }
    header #header_container_burguer .button_container .button_slider a {
        color: #ffffff;
        text-decoration: none;
        line-height: 40px;
      }
    
    .about-us{
        margin: 0px 25px 0px 25px;
        box-shadow: 0px 0px 50px white;
        border-radius: 30px;
        }

    .alt-tech{
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 5px;
        border-radius: 30px;
    }
    
    .alt-tech p, .imagenadev p {
        font-size: 1em;
        line-height: 1em;
        margin: 5px 5px 5px 5px;
        align-self: center;
        padding: 0px 10px 10px 10px;
        text-align: center;
    }
    /*.about-us-info {
        display: flex;
        flex-direction: column;
        gap: 50px;
    
    }*/
    
    /*info alt tech-adev*/

    .imagenaltech{
        height: auto;
    }

    .imagenaltech img {
    max-width: 150px;
    border-radius: 30px;
    margin-top: 10px;
    }
    
    .imagenadev img {
        max-width: 150px;
        border-radius: 30px;
        margin-top: 10px;
}
    
    .imagenadev{
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
        gap: 5px;
        border-radius: 30px;
    }

    .naves .nave img {
        width: 24px;
}
}

/* footer */

footer{
  background:#f9f9f9 ;
  margin-top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 40px 40px 0px 0px;
  
  
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container p{
  padding: 0px 0px 0px 0px;
}

.cl{
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.logs{
  height: 15px;
  width: 15px;
  margin-left: 5px;
  margin-right: 5px;
  object-fit: contain;
}

.footer-container li{
  margin: 5px;
  display:  inline-flex;
  align-items: center;
  align-content: center;
  align-self: center;
}

.footer-container ul{
  padding: 0;
  text-align: center;
}

.logs{
  height: 50px;
  width: 90px;
  border-radius: 15%;
}
.logs:hover{
  transform: translateZ(50%);
  filter: drop-shadow(0px 0px 20px #572483);
  transition: 0.5s;
}
.footer-container p{
  margin: 5px 0px;
}


@media only screen and (max-width:1000px) {
    

  footer {
    border-radius: 15px 15px 0px 0px;
}

.logs{
    width: 50px;
    height: 30px;
}

.volver{
  width: 30px;
  height: 30px;
  transform: translate(0%, 350%);
}
.volver img {
  width: 18px;
}

}