/* Header style and animation */

header{
    animation: glitch 1s linear infinite;
    
}

@keyframes glitch{
    2%, 64%{
        transform: translate(2px, 0) skew(0deg);
    }
    4%, 60%{
        transform: translate(-2px, 0) skew(0deg);
    }
    62%{
        transform: translate(0,0) skew(5deg);
    }
}

header:before,
header:after{
    content: attr(title);
    position: absolute;
    left: 0;
}

header:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100%, 100% 33%, 0 33%);
    -webkit-animation-phat: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

header{
    border-bottom: 1px solid #604f6f;
    width: 1080px;
    height: 130px;
    justify-content: center;
    margin: auto;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aqua;
    font-size: 50px;
}

/* Background style and animation */

.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-120deg, #fa46d0 50%, #270048 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}
.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}
.bg3 {
    animation-duration:5s;
}


@keyframes slide {
    0% {
    transform:translateX(-25%);
    }
    100% {
    transform:translateX(25%);
    }
}

/* catalog */

.catalog{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.box-catalog{
    
    background-color: #ff08c5;
    height: 300px;
    width: 300px;
    margin: 0 10px;
    font-size: 30px;
text-decoration: none;
text-align: center;
border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #fa46d0 2px solid;
}
a{
    
text-decoration: none;
font-family: monospace;
}

.box-catalog:hover{
    box-shadow: 0 0 20px #270048, 0 0 30px #fa46d0, 0 0 50px black;
}

/* h2 style */

h2{
    text-align: center;
    font-size: 30px;
    color: aliceblue;
}