
.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-90deg, #e71d73 50%, #572483 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}
.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}
.bg3 {
    animation-duration:5s;
}


@keyframes slide {
    0% {
    transform:translateX(-25%);
    }
    100% {
    transform:translateX(25%);
    }
}

header{
    align-items: center;
    margin: auto;
    align-content: center;
    position: fixed;
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; 
    background-color:  #ffffff;
    z-index: 100;
}

#header_container{
    display: grid;
    content: icon;
    place-items: center;
}

#logo_header{
    width: 160px;
    height: 150px;
}

body  {
    background-image: linear-gradient(#572483,  #9f2483);
    
}

#cron_title{
    margin-top: 200px;
}

/* GLITCH EFFECT */

#logo_header{
    animation: glitch 1s linear infinite;
        
}

@keyframes glitch{
    2%, 64%{
        transform: translate(2px, 0) skew(0deg);
    }
    4%, 60%{
        transform: translate(-2px, 0) skew(0deg);
    }
    62%{
        transform: translate(0,0) skew(5deg);
    }
}

#logo_header:before,
#logo_header:after{
    content: attr(title);
    position: absolute;
    left: 0;
}

#logo_header:after{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100%, 100% 33%, 0 33%);
    -webkit-animation-phat: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
    2%,64%{
        transform: translate(2px, -2px);
    }
    4%,60%{
        transform: translate(-2px,2px);
} 
    62%{
        transform: translate(13px, -1px) skew(-13deg);
    }
}

#logo_header:after{
    animation: glitchBottom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-animation-path:  polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBottom{
    2%,64%{
        transform: translate(-2px, 0);
}
    4%,60%{
        transform: translate(-2px, 0);
    }
    62%{
        transform: translate(-22px, 5px) skew(21deg);
    }
}

/* h2 */
h1{
    text-align: center;
    color: #ffffff;
    font-size: 30px;
}

/* timeline */


*{
    margin: 0;
    padding: 0;
    font-family: bahnschrift;
}
/* body{
    overflow-x: hidden;
} */

.wrapper{
    background-position: 0 0 26px 26px;
    background-size: 26px 26px;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    font: normal 16px/26px sans-serif;
    color: white;
    padding: 100px 20px 200px;
    box-sizing: border-box;
}

.block{
    z-index: 1;
    position: relative;
}

.block:before{
    content: "";
    position: absolute;
    height: calc(100% - 40px);
    width: 1px;
    background-color: #f2f2f2;
    left: 50%;
    margin-top: 90px;
}

.title{
    font: bold 42px/52px Open Sans Condensed, sans-serif;
    text-align: center;
    padding: 20px;
    transition: all 0.8s ease-in-out;
}

.each-event{
    background-color:white;
    color: #1d1d1d;
    padding: 15px;
    margin: 60px 50px;
    width: 350px;
    position: relative;
    border-radius: 4px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    
    border-style: solid;
}

.each-event:before{
    content: "";
    position: absolute;
    top: calc(50% - 8px);
    left: -27px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 4px 20px -4px rgba(64, 64, 64, 0.8);
}

.each-event:nth-child(odd){
    margin-left: calc(50% + 20px);
}

.each-event:nth-child(even){
    margin-left: calc(50% - 372px);
}

.each-event:nth-child(even):before{
    left: calc(100% + 14px);
}

.title.non-focus{
    color: white;
    background: white;
    margin-top: 90px;
    transform: rotateZ(45deg);
    transition: all 0.8s ease-in-out;
}

.each-event.non-focus{
    color: white;
    background: white;
    margin-top: 90px;
    transform: rotateZ(45deg);
    transition: all 0.8s ease-in-out;
}

.each-event.non-focus:before{
    opacity: 0;
    background-color: #aaa;
}

.each-event:hover{
    box-shadow: 0 0 25px #9f2483, 0 0 45px #9f2483, 0 0 80px #9f2483;
}

li{
    margin: 5px;
    display: block;
}

/* counter */

#counter{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
}

.simply-section{
    color: #1d1d1d;
    background-color: #ffffff;
    height: 90px;
    width: 90px;
    margin: 0 10px;
    border-radius: 500%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.simply-section:hover{
    box-shadow: 0 0 5px aqua, 0 0 15px aqua, 0 0 30px aqua;
    color: aqua;
}

.simply-amount{
    font-family: monospace;
    text-align: center;
    display: block;
    font-size: 30px;
    font-weight: 700;
}

.simply-word{
    font-weight: 300;
    font-size: 300;
}

/* footer */

footer{
    background:#f9f9f9 ;
    margin-top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 40px 40px 0px 0px;
    
    
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-container p{
    padding: 10px 0px 10px 0px;
}

.cl{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.logs{
    height: 15px;
    width: 15px;
    margin-left: 5px;
    margin-right: 5px;
    object-fit: contain;
}

li{
    margin: 5px;
    display:  inline-flex;
    align-items: center;
    align-content: center;
    align-self: center;
}

.logs{
    height: 50px;
    width: 90px;
    border-radius: 15%;
}
.logs:hover{
    transform: translateZ(50%);
    filter: drop-shadow(0px 0px 20px #572483);
    transition: 0.5s;
}


/* mapa */

#map_img{
    box-shadow: 0 0 10px #ff00c3, 0 0 50px #ff00c3;
    transition: 0.5;
    width: 325px;
    height: 325px;
    background-color: #ff00c3;
}

#map_img:hover{
    box-shadow: 0 0 20px gold, 0 0 90px gold;
    background-color: gold;
}

#map_div{
    margin: 35px;
    display: grid;
    place-items: center;
    border: 5px;
}



/* CARRUSEL */

.carrusel {
    width: 1280px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;

}

.carrusel ul {
    display: flex;
    padding: 0;
    width: 300%;

    animation: slide 10s infinite alternate ease-in-out;
}

.carrusel li {
    list-style: none;
    width: 100%;
}

.carrusel img {
    width: 100%;
    height: 720px;
    border-radius: 50px;
}


@keyframes slide {
    0% {
        margin-left: 0%;
    }

    30% {
        margin-left: 0%;
    }

    45% {
        margin-left: -100%;
    }

    60% {
        margin-left: -100%;
    }

    75% {
        margin-left: -200%;
    }

    100% {
        margin-left: -200%;
    }

}

h2{
    text-align: center;
    color: white;
    font-size: 30px;
}

/* CARRUSEL */

.carrusel2 {
    width: 1280px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
    margin-bottom: 100px;
}

.carrusel2 ul {
    display: flex;
    padding: 0;
    width: 200%;

    animation: slide 8s infinite alternate ease-in-out;
}

.carrusel2 li {
    list-style: none;
    width: 100%;
}

.carrusel2 img {
    width: 100%;
    height: 720px;
    border-radius: 50px;
}


@keyframes slide {
    0% {
        margin-left: 0%;
    }

    40% {
        margin-left: 0%;
    }


    50% {
        margin-left: -100%;
    }

    100% {
        margin-left: -100%;
    }

}


/* mapa */

#go-maps{
    
    display: grid;
    place-items: center;
    border: 5px;
    
}

#map-img{
    margin: 30px 30px 30px 30px;
}

#map-img:hover{
    border:  solid 2px #00ffff;
    box-shadow: 0 0 10px #ff00c3, 0 0 50px #ff00c3;
    background-color: #572483;
    transition: 0.5;
    width: 325px;
    height: 325px;
}



/* media query */

@media only screen and (max-width:1000px){
    body .wrapper{
        overflow-x: hidden;
    }
    
    .each-event:before{
        content: "";
    
        top: calc(50% - 8px);
        left: -27px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: white;
        box-shadow: 0 4px 20px -4px rgba(64, 64, 64, 0.8);
        display: none;
    }
    
    .wrapper {
        background-position: 0 0 26px 26px;
        background-size: 26px 26px;
        width: auto;
        min-height: 100vh;
        height: 100%;
        font: normal 16px/26px sans-serif;
        color: white;
        padding: 0px 0px 0px 0px;
        box-sizing: border-box;
        margin-left: 15px;
    }
    
    .each-event:nth-child(odd){
        margin-left: calc(0px + 0px);
    }
    
    .each-event:nth-child(even){
        margin-left: calc(0px + 0px);
    }
    
    .each-event:nth-child(even):before{
        left: calc(0);
    }
    
    #counter{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        z-index: 5500;
    }
    
    .simply-section{
        background-color: #ffffff;
        height: 75px;
        width: 75px;
        margin: 0 5px;
        border-radius: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
    
    .simply-section:hover{
        box-shadow: 0 0 5px aqua, 0 0 15px aqua, 0 0 30px aqua;
        color: aqua;
    }
    
    .simply-amount{
        font-family: monospace;
        text-align: center;
        display: block;
        font-size: 50px;
        font-weight: 700;
    }
    
    .simply-word{
        font-weight: 300;
        font-size: 300;
    }
    
    footer {
        border-radius: 15px 15px 0px 0px;
    }
    
    .logs{
        width: 50px;
        height: 30px;
    }
    
    .carrusel2 {
        width: 300px;
        height: 250px;
        margin: 110px 50px 100px;
        overflow: hidden;
    }
    
    .carrusel2 img {
        width: 280px;
        height: 150px;
        border-radius: 15px;
    }
    
    .carrusel {
        width: 300px;
        height: 250px;
        margin: 110px 50px 100px;
        overflow: hidden;
    }
    
    .carrusel img {
        width: 280px;
        height: 150px;
        border-radius: 15px;
    }

    header{
        align-items: center;
        margin-top: auto;
        align-content: center;
        position: fixed;
        width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
        left: 0; /* Posicionamos la cabecera al lado izquierdo */
        top: 0; 
        background-color:  #ffffff;
        z-index: 100;
    }
    
    #header_container{
        display: grid;
        content: icon;
        place-items: center;
    }
    
    #logo_header{
        width: 100px;
        height: 95px;
    }
    
    body  {
        background-image: linear-gradient(#572483,  #9f2483);
        
    }
    
    #cron_title{
        margin-top: 120px;
    }
    
    }